{
	email ishimwegervais11@gmail.com
}

admin.prime-couture.com {
	@api path /api*
	handle @api {
		reverse_proxy web:4173
	}

	handle {
		reverse_proxy web:4173
	}
}

api.prime-couture.com {
	handle {
		reverse_proxy server:3000
	}
}
