{
	# Set your real email for Let's Encrypt notices
	email you@example.com
}

prime-couture.com, www.prime-couture.com {
	@api path /api*      # pass through to backend via web container
	handle @api {
		reverse_proxy web:80
	}

	handle {
		reverse_proxy web:80
	}
}

 admin.prime-couture.com {
	@api path /api*
	handle @api {
		reverse_proxy web:4173
	}

	handle {
		reverse_proxy web:4173
	}
}
