name: Backend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 20
          cache: 'npm'

      - name: Install deps
        working-directory: server
        run: npm install --no-fund --no-audit

      - name: Lint
        working-directory: server
        run: npm run lint

      - name: Build
        working-directory: server
        run: npm run build
